* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

footer {
  position: fixed;
  bottom: 0;
  right: 10px;
}

footer a {
  color: lightgrey;
}

.to-do-app {
  width: 100%;
  max-width: 600px;
  background: linear-gradient(135deg, #5b548a, #301934);
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.to-do-app h2 {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.to-do-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: lightgray;
  padding-left: 20px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: rgb(0, 119, 255);
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 16px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: white;
  align-items: center;
}

ul li::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  background-image: url(icons/unchecked.png);
  background-size: cover;
  background-position: center;
  left: 9px;
  top: 14px;
}

ul li.checked {
  text-decoration: line-through;
  color: #2c2b2b;
}

ul li.checked::before {
  background-image: url(icons/checked.png);
  height: 30px;
  width: 30px;
  left: 6px;
  top: 12px;
}

ul li close {
  position: absolute;
  right: 0;
  top: 7px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  color: lightgray;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

ul li close:hover {
  background: #555;
}
